body {
  background-color: #313e50;
  color: #fefff5;

  font-family: "Montserrat", sans-serif;
}

main {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
  border: solid;
  border-width: 0.15em;
  border-color: darkgray;
  padding: 32px;
}
h1 {
  text-align: center;
  margin: 0;
}
h2 {
  text-align: left;
  cursor: pointer;
  background-color: #3a435e;
  border-top: solid;
  border-width: 0.05em;
  margin-bottom: 0%;
  padding-bottom: 0.83em;
  padding-left: 6px;
  border-color: rgb(119, 119, 119);
  user-select: none;
  border-top-left-radius: 0.5em;
}

#delais,
#anciennete,
#salaire,
#indemnite {
  display: none;
  background-color: #3a435e;
  padding-left: 6px;
  padding-right: 6px;
}

#saisieDateSignature {
  margin: 8px;
}
#calendrier {
  display: flex;
  flex-direction: column;
  padding: 8px;
  width: 45%;
  justify-content: space-between;
}

#calendrier div {
  display: flex;
  flex-direction: row;
  font-size: small;
  flex-wrap: wrap;
}

#calendrier div p {
  padding: 0px;
  margin: 0px;
  border-bottom: solid;
  border-width: 0.1em;
  border-color: rgb(119, 119, 119);
}

#calendrier div p:first-child {
  width: 50%;
}
button,
select,
input[type="date"] {
  border: none;
  text-align: center;
  text-decoration: none;
  background-color: #fefff5;
  color: black;
  max-width: -webkit-fill-available;
  max-width: -moz-available;
}

.item-v {
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 8px;
  display: flex;
  max-width: fit-content;
}

#datesEnregistrees div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

#datesEnregistrees button {
  margin-left: 48px;
}

#blocAbsence {
  display: flex;
  flex-direction: column;
  align-items: start;
}

#blocDelais {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  max-width: max-content;
}

.menu-h {
  display: flex;
  flex-direction: row;
  align-items: last baseline;
  flex-wrap: wrap;
  max-width: inherit;
  padding-bottom: 8px;
}

.menu-h label {
  margin-right: 8px;
}

#affichageTotalAbsence,
#affichageSalaireReference,
#affichageIndemnite {
  padding: 8px 8px 8px 0px;
  font-size: larger;
}

#wrapperCalendrier {
  display: flex;
  flex-direction: row;
}
#notice {
  max-width: 30%;
  padding: 8px;
  text-align: justify;
  animation: fadein 5s;
  font-style: italic;
  font-size: small;
  color: rgb(148, 172, 245);
}

input[type="number"] {
  appearance: textfield;
  width: 70%;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 800px) {
  main {
    max-width: 100%;
    padding: 8px;
    border-width: 0.1em;
    border-color: rgb(119, 119, 119);
  }
  #wrapperCalendrier {
    flex-direction: column;
  }
  #notice,
  #calendrier {
    max-width: 100%;
    width: 100%;
    padding: 0px;
    padding-top: 8px;
  }
  #calendrier div p:first-child {
    width: fit-content;
  }

  #calendrier div {
    font-size: x-small;
    justify-content: space-between;
    border-bottom: solid;
    border-width: 0.1em;
    border-color: rgb(119, 119, 119);
  }

  #calendrier div p {
    border: none;
  }
}
